aiohttp
aiosignal
arrow
async-generator
async-timeout
attrs
aws-lambda-builders
aws-sam-cli
aws-sam-translator
beautifulsoup4
binaryornot
boto3
botocore
bs4
certifi
cffi
# cfn-lint
chardet
charset-normalizer
chevron
click
cookiecutter
cryptography
dateparser
distlib
docker
exceptiongroup
filelock
Flask
frozenlist
h11
idna
itsdangerous
Jinja2
jinja2-time
jmespath
jschema-to-python
jsonpatch
jsonpickle
jsonpointer
jsonschema
junit-xml
lambda-uploader
MarkupSafe
mpmath
multidict
networkx
outcome
pbr
platformdirs
pycparser
pydantic
pyOpenSSL
pyrsistent
PySocks
python-dateutil
python-lambda-local
python-slugify
pytz
PyYAML
regex
requests
ruamel.yaml
ruamel.yaml.clib
s3transfer
sarif-om
selenium
# serverlessrepo  # PyYAMLの依存関係で失敗する
six
sniffio
sortedcontainers
soupsieve
sympy
text-unidecode
tomlkit
trio
trio-websocket
typing_extensions
tzlocal
urllib3<2
virtualenv
watchdog
websocket-client
Werkzeug
wsproto
yarl
